body {margin: 0;}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a { 
    text-decoration: 
    none; 
    color: inherit;
}
.w_980 {
    width: 980px;
    margin: 0 auto;

    height: 100%;
    position: relative; 
}
.w_1140 {
    width: 1140px;
    margin: 0 auto;

    height: 100%;
    position: relative; 
}
.w_1150 {
    width: 1150px;
    margin: 0 auto;

    height: 100%;
    position: relative; 
}
.w_1200 {
    width: 1200px;
    margin: 0 auto;

    height: 100%;
    position: relative; 

    /* background: yellowgreen; */
}
.w_1300 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1300px;
    position: relative; 

    /* background: yellowgreen; */
}
.mr_0 {
    margin-right: 0 !important;
}